page-home {



/*---------------------------MENU DE NAVIGATION---------------------- */

	#headerNav {
		background-color: #08C5CB;
		width: 100%;
		height: 50px;
		margin: 0px;
		position: fixed;
		z-index: 5;
	}
	
	#listeNavigation {
		width: 100%;
		display: flex;
		justify-content: space-around;
		margin-top: 0px;
		padding-top: 0px;
		font-size: 10px;
	}
	
	#listeNavigation li {
		list-style-type: none;
		margin-left: -50px;
		margin-top: 15px;
		font-size: 18px;
	}

	.translator {
		margin-top: -5px;
	}

	.liensNav {
		text-decoration: none;
		color: black;
	}
	
	#topScroll {
		position: fixed;
		bottom: 10px;
		right: 20px;
		margin: 0;
		padding: 0;
		width: 50px;
		z-index: 4;
		-webkit-transition : opacity .5s;
		-moz-transition : opacity .5s;
		-o-transition : opacity .5s;
		transition : opacity .5s;
		opacity: 0;
	}

/*------------------------------------------SECTION D'ACCUEIL-----------------------------------*/

	#sectionAccueil {
		position: relative;
		background-color: #08C5CB;
		text-align: center;
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 15%;
		padding-bottom: 70px;
	}
	
	#sectionAccueil p {
		margin-top: 25px;
		padding-top: 0px;
		font-size: 30px;
		color: #F9643C;
		text-shadow: 1px 1px 1px black;
		font-family: 'Convergence', sans-serif;
	}
	
	#imageAccueil {
		margin-top: -20px;
	}

	#voirProjets {
		font-size: 25px;
		text-decoration: none;
		color: white;
		border: 2px solid white;
		padding: 10px;

	}

	/*--------------------------------SECTION DE PROJETS--------------------------------*/

	#sectionProjet {
		background-color: #EAF2F6;
		text-align: center;
		padding-top: 0px;
		height: 400px;
		margin-bottom: 0px;
		position: relative;
	}

	#sectionProjet div {
		text-align: center;
	}

	#sectionProjet article {
		height: 300px;
		color: #F9643C;
		padding: 15px;
		width: 100%;
		text-align: center;
		transition: opacity 0.4s;
	}
	
	#sectionProjet h4 {
		font-family: 'Convergence', sans-serif;
		font-size: 16px;
	}

	.articlesProjet {
		/*position: absolute;*/
		top: 40px;
		background-color: #EAF2F6;
	}

	.articlesProjet img {
		width: 140px;
	}

	#sectionProjet i {
		font-size: 13px;
	}

	.articlesProjet p {
		font-size: 15px;
	}


	/*#articleProjet1 {
		opacity: 0;
	}

	#articleProjet2 {
		opacity: 0;
	}

	#articleProjet3 {
		opacity: 0;
	}

	#articleProjet4 {
		opacity: 0;
	}

	#articleProjet5 {
		opacity: 0;
	}

	#articleProjet6 {
		opacity: 1;
	}*/

	
	/*--------------------------SECTION PARCOUR--------------------------------------*/
	#sectionParcour {
		background-color: #E76E33;
		color: black;
		padding-top: 20px;
		padding-left: 18px;
		padding-right: 18px;
		font-size: 14px;
		padding-bottom: 35px;
	}
	
	#aPropos {
		text-align: justify;
	}

	#articleCompetences {
		display: flex;
		height: 170px;
	}
	
	#articleCompetences ul {
		list-style-type: none;
		font-size: 14px;
		width: 50%;
		text-align: center;
		margin-top: 15px;
	}

	#articleCompetences img {
		margin-left: 25px;
		margin-top: 15px;
		border: 1px solid black;
	}
	
	#articleCompetences h6 {
		font-family: 'Convergence', sans-serif;
	}
/*-------------------------------------SECTION CONTACT-------------------------------------*/

	#sectionContact {
		height: 465px;
		background-color: #4C4C4C;
		font-size: 14px;
		color: white;
		position: relative;
	}

	#articleForm {		
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;	
	}
	


	#email {
		width: 65%;
		background-color: #E9E9E8;
		border: 1px solid #08C5CB;
		color: black;
		position: absolute;
		left: 31%;
		top: 4.5%;
	}
	
	#sujet {
		width: 65%;
		margin-bottom: 15px;
		background-color: #E9E9E8;
		border: 1px solid #08C5CB;
		color: black;
		position: absolute;
		left: 31%;
		top: 12%;
	}
	
	#message {
		width: 100%;
		margin-top: 3px;
		background-color: #E9E9E8;
		border: 1px solid #08C5CB;
		color: black;
	}
	
	#submit {
		width: 30%;
		margin-left: 70%;
		margin-bottom: 15px;
		background-color: #E9E9E8;
		border: 1px solid #08C5CB;
		height: 25px;
		color: black;

	}

	#articleInfo {
		margin-top: 5px;
	}

	#articleInfo ul {
		list-style-type: none;
		font-size: 16px;
		margin-top: 0px;
		margin-left: 20px;
	}

	#articleInfo ul li {
		margin-top: 5px;
	}

	#spanNom {
		position: absolute;
		left: 45%;
	}

	#spanPrenom {
		position: absolute;
		left: 45%;
	}

	#spanEmail {
		position: absolute;
		left: 45%;
	}

	#spanTel {
		position: absolute;
		left: 45%;
	}

	#spanAdresse {
		position: absolute;
		left: 45%;
	}

	#spanAdresse2 {
		position: absolute;
		left: 45%;
	}

	footer {
		height: 65px;
		background-color: #242424;
		display: flex;
		justify-content: space-around;
	}

	footer img {
		margin-top: 15px;
	}
}
